<div class="grid-view-item{% unless product.available %} grid-view-item--sold-out{% endunless %} product-card">
  <a class="grid-view-item__link grid-view-item__image-container full-width-link" href="{{ product.url | within: collection }}">
    <span class="visually-hidden">{{ product.title }}</span>
  </a>

  {% capture img_id %}ProductCardImage-{{ section.id }}-{{ product.id }}{% endcapture %}
  {% capture wrapper_id %}ProductCardImageWrapper-{{ section.id }}-{{ product.id }}{% endcapture %}
  {%- assign featured_media = product.featured_media -%}
  {%- assign img_url = featured_media | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

  {% unless featured_media == blank %}
    {% include 'media-style' with media: featured_media.preview_image, width: max_height, height: max_height, small_style: true, wrapper_id: wrapper_id, media_id: img_id %}
  {% endunless %}
  <div class="product-card__image-with-placeholder-wrapper" data-image-with-placeholder-wrapper>
    <div id="{{ wrapper_id }}" class="grid-view-item__image-wrapper product-card__image-wrapper js">
      <div style="padding-top:{% unless featured_media == blank %}{{ 1 | divided_by: featured_media.preview_image.aspect_ratio | times: 100 }}%{% else %}100%{% endunless %};">
        <img id="{{ img_id }}"
              class="grid-view-item__image lazyload"
              alt="{{ featured_media.alt }}"
              data-src="{{ img_url }}"
              data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
              data-aspectratio="{{ featured_media.preview_image.aspect_ratio }}"
              data-sizes="auto"
              data-image>
      </div>
      {% if featured_media.media_type == "model" %}
        <div class="product-single__thumbnail-badge">{% include 'icon-3d-badge-full-color' %}</div>
      {% endif %}
      {% if featured_media.media_type == "video" or featured_media.media_type == "external_video" %}
        <div class="product-single__thumbnail-badge">{% include 'icon-video-badge' %}</div>
      {% endif %}
    </div>
    <div class="placeholder-background placeholder-background--animation" data-image-placeholder></div>
  </div>

  <noscript>
    {% capture media_size %}{{ max_height }}x{{ max_height }}{% endcapture %}
    <img class="grid-view-item__image" src="{{ featured_media | img_url: media_size, scale: 2 }}" alt="{{ featured_media.alt }}" style="max-width: {{ max_height | times: featured_media.preview_image.aspect_ratio }}px;">
  </noscript>

  <div class="h4 grid-view-item__title product-card__title" aria-hidden="true">{{ product.title }}</div>

  {% include 'product-price', variant: product %}

</div>
